@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
*{
    font-family: 'pretendard';
    /* --bg: #161616; 
    --rev: #fff;
    --bright: 1.2; */
    
    
    --bg: #f4f4f4;
    --rev: #000;
    
    --bright: 0.8
   


    color: var(--rev);
}

body{
    background-color: var(--bg);
}

#hello::after{
    content: '';
    padding-left: 1px;
    background-color: var(--rev);
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes flash {
    0%{
        opacity: 0;
    }
    49%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

#sns > a{
    display: flex;
    align-items: center;
    border: var(--c) 1px solid;
    box-shadow: 0 5px 0 var(--c);
    padding: 10px;
    opacity: 0;

    transition: all .5s;
    border-radius: 8px;
    transition-timing-function: cubic-bezier(0, 0.5, 0.1, 2);

    
    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 0 var(--c);
    }

}

#sns > a > img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#sns > a > b{
    font-size: 20px;
    color: var(--c);
}



article{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    margin: 10px;
    text-decoration: none;
    transition: all .2s;
}

a:hover{
    transform: scale(1.05);
}

#fav-lang{
    margin-top: 100px;
    gap: 30px;
}
#fav-lang > section > div{
    filter:brightness(var(--bright));
    height: 40px;
    width: 100px;
    border-top: var(--c) solid 3px;
    border-left: var(--c) solid 3px;
    border-right: var(--c) solid 3px;
    color: var(--c);
    font-weight: 500;
    font-size: 40px;
    vertical-align: bottom;
}

#fav-lang > section:nth-child(2) > div{
    height: 100px;
    transform: translateY(-23px);
}
#fav-lang > section:nth-child(2) > img{
    transform: translateY(-23px);
    width: 100px;
    margin-bottom: 0px;

    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#fav-lang > section:nth-child(3) > div{
    height: 60px;
    transform: translateY(-12px);
}
#fav-lang > section:nth-child(3) > img{
    transform: translateY(-12px);
}
#fav-lang > section > img{
    width: 70px;
    border-radius: 10px;
    margin-bottom: 5px;
}

@keyframes jump {
    0%, 100%{
        animation-timing-function: cubic-bezier(0.08, 0.82, 0.39, 1.24);
        transform: translateY(-23px);
    }
    50%{
        animation-timing-function: cubic-bezier(0.52, 0.07, 0.66, 1.09);
        transform: translateY(-35px);
    }
}

@media (max-width: 375px) {
    #fav-lang{
        gap: 10px;
    }
}

@media (max-width: 280px) {
    #fav-lang{
        gap: 10px;
    }

    #fav-lang > section > div{
        width: 50px;
    }

    
    #fav-lang > section > img{
        width: 60px;
    }
    #fav-lang > section:nth-child(2) > img{
        width: 60px;
    }
}

#arrow{
    position: absolute;
    bottom: 0;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    font-size: 15px;
    padding: 5px;
    opacity: 0;
    transition: all .5s;
}

@keyframes arrow {
    0%, 100%{
        animation-timing-function: cubic-bezier(0.08, 0.82, 0.39, 1.24);
        transform: rotate(90deg) translateX(-60px) translateY(15px);
    }
    50%{
        animation-timing-function: cubic-bezier(0.52, 0.07, 0.66, 1.09);
        transform: rotate(90deg) translateX(-30px) translateY(15px);
    }
}


#doing{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#doing > section{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    box-shadow: 0 0 10px #ddd;
    transition: all 1s;
    opacity: 0;
    transform: translateY(-10px);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#doing > section:nth-child(1){ background-color: #a6e3a1 }
#doing > section:nth-child(2){ background-color: #f9e2af }
#doing > section:nth-child(3){ background-color: #89dceb }
#doing > section:nth-child(4){ background-color: #f5c2e7 }